---
layout: default
title: Home
permalink: /
description: Home
sitemap: true
---

<div class="container mt-3 mb-5">
    <p><i>{{ site.description }}</i></p>

    <ul>
        {% for post in site.posts %}
        {% if post.external_url %}
        <li>
            <a href="{{ post.external_url | relative_url }}" target="_blank" class="">
                {{ post.title | escape }}
            </a>
        </li>

        {% else %}
        <li>
            <a href="{{ post.url | relative_url }}" class="">
                {{ post.title | escape }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
