---
---

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
@import url("https://use.typekit.net/nws2mjy.css");

$highlight-color: #4747FF;

body {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $highlight-color;
}

.container {
  max-width: 700px;
}

blockquote {
  border-left: 10px solid #ccc;
  padding: 10px;
  margin-left: 10px;
  font-style: italic;
}

.post-link {
  &:hover {
    text-decoration: underline;
    text-decoration-color: $highlight-color;
  }
}

#description-border {
  border: 3px solid $highlight-color;
  border-radius: 3px;
  height: 1px;
  margin: 0 auto;
}