<footer class="site-footer h-card">

    <ul class="contact-list">
        <li><a href="https://www.twitter.com/gsbaker_">@gsbaker_</a></li>
        <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    </ul>
    <a href="{{ "/" | relative_url }}">
        <img src="/favicon/favicon.png" id="footer-logo" alt="">
    </a>

</footer>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">