<footer class="site-footer h-card">
<!--    <data class="u-url" href="{{ "/" | relative_url }}"></data>-->

<!--    <div class="wrapper">-->

<!--        <div class="footer-col-wrapper">-->
<!--            <div class="footer-col">-->
<!--                {%- if site.author %}-->
<!--                <ul class="contact-list">-->
<!--                    {% if site.author.name -%}-->
<!--                    <li class="p-name">{{ site.author.name | escape }}</li>-->
<!--                    {% endif -%}-->
<!--                    {% if site.author.email -%}-->
<!--                    <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>-->
<!--                    {%- endif %}-->
<!--                </ul>-->
<!--                {%- endif %}-->
<!--            </div>-->
<!--            <div class="footer-col">-->
<!--                <p>{{ site.description | escape }}</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="social-links">-->
<!--            {%- include social.html -%}-->
<!--        </div>-->

<!--    </div>-->
    <ul class="contact-list">
        <li><a href="https://www.twitter.com/gsbaker_">@gsbaker_</a></li>
        <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    </ul>



</footer>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">