<div class="container pt-4">
    <div class="d-inline-flex w-100 justify-content-between align-items-center">
    <div>
        <a class="text-black" href="/"><h2 class="m-0">{{ site.title }}</h2></a>
    </div>
        <div>
            <ul class="nav">
                <li class="nav-item me-3"><a href="https://ww.twitter.com/gsbaker_">🐧 Twitter</a></li>
                <li class="nav-item"><a href="https://www.gsbaker.uk">🌎 Website</a> </li>
            </ul>
        </div>
    </div>
</div>

<ul class="nav container">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/week-notes">Week Notes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">About</a>
    </li>
</ul>

<hr>