<nav class="navbar navbar-expand-lg fixed-top py-2">
  <div class="container-fluid content ">
    <a class="navbar-brand fs-6 pe-2" href="/">George Baker</a>
    <button class="btn p-0 d-sm-none d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <img src="/img/hamburger.png" height="15" alt="Menu">
    </button>
    <div class="offcanvas h-100 w-100 offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close ms-auto pe-2 fs-2" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav text-center mt-sm-0 mt-5 fs-6 text-sm-start">
          <li class="nav-item d-sm-none d-block">
            <a class="nav-link fs-1" href="/" style="font-family: sans-serif">George Baker</a>
          </li>
          <hr class="d-sm-none d-block">
          <li class="nav-item d-none d-sm-block">
            <a class="nav-link" href="/posts">Blog</a>
          </li>
          <li class="nav-item d-sm-none d-block">
            <a class="nav-link fs-1" href="/posts">Blog</a>
          </li>
          <li class="nav-item d-none d-sm-block">
            <a class="nav-link" href="/photos">Photos</a>
          </li>
          <li class="nav-item d-sm-none d-block">
            <a class="nav-link fs-1" href="/photos">Photos</a>
          </li>
          <li class="nav-item d-none d-sm-block">
            <a class="nav-link" href="mailto:george@gsbaker.uk">Contact</a>
          </li>
          <li class="nav-item d-sm-none d-block">
            <a class="nav-link fs-1" href="mailto:george@gsbaker.uk">Contact</a>
          </li>
          <hr class="d-sm-none d-block">
        </ul>

        <div class="ms-sm-auto d-flex mt-sm-0 mt-5 justify-content-center align-items-center flex-nowrap">
          <div class="me-4 d-none d-sm-block">
            <a class="nav-link" href="https://www.github.com/gsbaker">
              <i class="bi bi-github"></i>
            </a>
          </div>
          <div class="me-4 d-sm-none d-block">
            <a class="nav-link fs-2" href="https://www.github.com/gsbaker">
              <i class="bi bi-github"></i>
            </a>
          </div>
          <div class="me-4 d-none d-sm-block">
            <a class="nav-link" href="https://www.twitter.com/gsbaker_">
              <i class="bi bi-twitter"></i>
            </a>
          </div>
          <div class="me-4 d-sm-none d-block">
            <a class="nav-link fs-2" href="https://www.twitter.com/gsbaker_">
              <i class="bi bi-twitter"></i>
            </a>
          </div>
          <div class="d-none d-sm-block">
            <a class="nav-link" href="https://www.linkedin.com/in/gsbaker1">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
          <div class="d-sm-none d-block">
            <a class="nav-link fs-2" href="https://www.linkedin.com/in/gsbaker1">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>