<nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <picture>
                <source media="(min-width: 900px)" srcset="/img/logo-lg.png">
                <source media="(min-width: 480px)" srcset="/img/logo-sm.png">
                <img src="/img/logo-sm.png" id="nav-logo-img" alt="">
            </picture>
        </a>
        <button class="navbar-toggler border-0 fs-1 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-black"><i class="bi bi-list"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/week-notes">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="nav ms-auto">
                <li class="nav-item-2">
                    <a class="nav-link-sm" href="https://www.twitter.com/gsbaker_" target="_blank"><i class="bi bi-twitter"></i></a>
                </li>
                <li class="nav-item-2">
                    <a class="nav-link-sm" href="mailto:george@gsbaker.uk" target="_blank"><i class="bi bi-envelope"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-sm" href="https://www.gsbaker.uk" target="_blank"><i class="bi bi-globe"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>