<nav class="text-center v-stack gap-3 my-3">
  <div class="p-2">
    <img src="/assets/img/george-baker-monogram.jpeg"
         alt="logo">
  </div>
  <div class="p-2">
    <h1 class="display-1 fw-bold">{{ site.title }}</h1>
  </div>
  <div class="p-2">
    <div class="d-flex justify-content-center align-items-center">
      <div class="p-2">
        <img src="/assets/img/george-baker.jpeg" 
             alt="George Baker"
             class="profile-picture">
      </div>
      <div class="p-2">
    <h2>{{ site.description }}</h2>
      </div>
  </div>
</nav>

