<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/george-baker-monogram.jpeg" 
           alt="Logo" class="d-inline-block align-text-middle">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        {% for item in site.data.navigation %}
          {% assign page_url_without_extension = page.url | remove: ".html" %}
          <li class="nav-item">
            <a class="nav-link {% if item.url == page_url_without_extension %}active{% endif %}"
               href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
