<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/george-baker-monogram.jpeg" 
           alt="Logo" class="d-inline-block align-text-middle">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume">resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/music">👍 music</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
