nav {
  min-height: 120px;

  .navbar-brand {
    margin: 0 20px;

    img {
      width: 115px;
      height: 115px;
      max-height: 100%;
      border-radius: 100%;
    }
  }

  &.navbar-expand-md .nav-item .nav-link {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--bs-body-color);

    &:hover {
      background-color: $accent-color;
      color: $theme-color;
    }
  }
}
