---
---

a {
  text-decoration: none;
}

.card{
  img {
    max-height: 400px;
  }
}

.container {
  max-width: 700px;
}

blockquote {
  border-left: 10px solid #ccc;
  padding: 10px;
  margin-left: 10px;
  font-style: italic;
}

#profile-picture {
  width: 50%;
  max-width: 150px;
  max-height: 150px;
}


img {
  max-width: 100%;
  //max-height: 400px;
}

#gallery-content {
  //max-width: 700px;
}

.carousel-item {
  img {
    max-width: 70%;
    max-height: 500px;
    margin: auto;
  }

}

#posts-container {
  //max-width: 700px;
}

#ux-container {
  max-width: 700px;
}

.card-body {
  background-color: #eee;
}

.card-img-top {
  max-width: 100%;
}

article {
  margin: 0 auto;
}

#thumbnails-container {
  //max-width: 700px;
}

.thumbnail {
  height: 100px;

  img {
    height: 100px;
  }

  &:not(.active) {
    filter: brightness(65%);
  }

  &:hover {
    filter: brightness(100%);
  }
}

.figma-label {
  display: block;
  background-color: lightgrey;
  color: grey;
  margin-left: 10px;
  p {
    margin: 0;
  }
}

#albums {
  img {
    max-width: 200px;
  }
}