---
---

a {
  text-decoration: none;
}

#profile-picture {
  width: 50%;
  max-width: 150px;
  max-height: 150px;
}

#about {
  max-width: 700px;
}

img {
  max-width: 100%;
  max-height: 400px;
}

#gallery-content {
  max-width: 700px;
}

.carousel-item {
  img {
    max-width: 70%;
    max-height: 500px;
    margin: auto;
  }

}

#posts-container {
  max-width: 700px;
}

.card-body {
  background-color: #eee;
}

.card-img-top {
  max-width: 100%;
}

article {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

#thumbnails-container {
  max-width: 700px;
}

.thumbnail {
  height: 100px;

  img {
    height: 100px;
  }

  &:not(.active) {
    filter: brightness(65%);
  }

  &:hover {
    filter: brightness(100%);
  }
}