---
---

$tag-color: #eee;

#profile-picture {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 100%;
}

.home-header-container {
	text-align: center;

	.home-header {
		display: inline-block;

		h1 {
			margin: 0;
		}
	}
}

#www-link {
	background-color: $tag-color;
	display: inline-block;
	padding-right: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 600;
}

#memoji {
	width: 50px;
	height: 50px;
}

#nav-logo {
	width: 40px;
}

#footer-logo {
	width: 100px;
	height: 100px;
}

#tags {
	display: flex;
}

.tag {
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: $tag-color;
	border-radius: 5px;
}

#stars {

	margin-top: 15px;

	img {
		width: 20px;
		height: 20px;
	}
}

.album-cover {
	max-width: 600px;
	max-height: 600px;
	width: 80%;
}

.twitter-share-button {
	font-weight: bold;
	background-color: #eee;
	padding: 15px;
	border-radius: 10px;
	line-height: 25px;
	display: inline-block;
	margin: 0 auto;
}

.twitter-logo {
	//font-size: 25px;
	margin-right: 10px;
	color: #1c9dff;
}

#simplify-apple-sign {
    max-width: 300px;
}

#grey-white-living-room {
	max-width: 300px;
}
