// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@media (prefers-color-scheme: light) {
  .tag {
    background-color: $div-background-color-light;
  }

  .star-unfilled {
    fill: $div-background-color-light;
  }

  .post-meta {
    color: grey;
  }

  pre, code {
    background-color: $div-background-color-light;
  }

  .highlight {
    .highlighter-rouge & {
      background: $div-background-color-light;
    }
  }
}

@media (prefers-color-scheme: dark) {
  $background-color: black;
  body {
    background-color: black;
    color: #eee;
  }

  .tag {
    background-color: $div-background-color-dark;
  }

  .star-unfilled {
    fill: $div-background-color-dark;
  }

  .post-meta {
    color: grey;
  }

  pre, code {
    background-color: $div-background-color-dark;
  }

  .highlight {
    .highlighter-rouge & {
      background: $div-background-color-dark;
    }
  }
}

.album-info {
  div {
    padding: 20px;

    img {
      max-width: 200px;

    }

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

#profile-picture {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
}

.star-filled {
  fill: gold;
}

#nav-logo {
  width: 40px;
}

#footer-logo {
  width: 70px;
  height: 70px;
}

.page-rating {
  display: block;
  padding-top: 15px;
}

#tags {
  display: flex;
}

.tag {
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

#stars {
  margin-top: 15px;
}

.album-cover {
  max-width: 200px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

