// Placeholder to allow overriding predefined variables smoothly.
$site-title-color: $link-base-color;
$background-color: #333333;
$text-color: #fff;
$link-base-color: #CCCCCC;
$link-visited-color: $link-base-color;
$link-hover-color: $link-base-color;
$border-color-01: #525252;
$code-background-color: #1F1F1F;
$table-header-bg-color: $background-color;
$table-zebra-color: #292929;
$table-text-color: #FFF;