---
layout: default
---

<div class="container mt-3 mb-5">

    <div class="d-flex w-100 justify-content-center">
        <img src="/img/logo-lg.png" class="w-75" alt="">
    </div>

    <div class="mb-3 fw-bold small text-center text-capitalize">
        curiositas est scientia
    </div>

    <h1>Articles</h1>

    {% for post in site.categories.article %}
    {% if post.external_url %}
    <a href="{{ post.external_url | relative_url }}" target="_blank" class="text-black post-link">
    <div class="d-inline-flex w-100 justify-content-around mt-4 post-hero">
        <div class="w-50">
            <div class="p-3">
                <h4>{{ post.title | escape }}</h4>
                <p class="small text-muted">{{ post.date | date: "%-d %B %-y" }}</p>
            </div>
        </div>
        <div class="w-50">
            <img src="/img/{{ post.img }}" alt="" class="img-fluid rounded-3">
        </div>
    </div>
    </a>
    {% else %}
    <a href="{{ post.url | relative_url }}" class="text-black post-link">
    <div class="d-inline-flex justify-content-between rounded-3 w-100 mt-4 post-hero">
        <div class="w-50">
            <div class="p-3">
                <h4>{{ post.title | escape }}</h4>
                <p class="small text-muted">{{ post.date | date: "%-d %-b %-y" }}</p>
            </div>

        </div>
        <div class="w-50">
            <img src="/img/{{ post.img }}" alt="" class="img-fluid rounded-3">
        </div>
    </div>
    </a>
    {% endif %}
    {% endfor %}

</div>
