---
layout: default
---

<div class="container mt-5" id="ux-container">
    <h2 class="fw-bold mb-4">UX</h2>

    {{ content }}

    <a href="https://www.figma.com/community/file/1068502665592304805/Uniqlo-Redesigned" target="_blank">
        <div class="card mb-4">
            <img src="/assets/img/uniqlo-thumbnail.jpg" class="card-img-top" alt="thumbnail">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h4 class="card-title fw-bold">
                        Uniqlo Redesigned
                    </h4>
                    <div class="figma-label p-1 rounded-3">
                        <p>Figma</p>
                    </div>

                </div>

                <p class="text-muted fs-5">January 2022</p>
            </div>
        </div>
    </a>

    <a href="/assets/docs/Team_3_Final_Docks.pdf" target="_blank">
            <div class="card mb-4">
                <img src="/assets/img/moodit-thumbnail.jpg" class="card-img-top" alt="thumbnail">
                <div class="card-body">
                    <h4 class="card-title fw-bold">
                        MoodIt
                    </h4>
                    <p class="text-muted fs-5">November 2021</p>
                </div>
            </div>
        </a>
</div>